/* --- Color --- */
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 55%);
$dark-gray: hsl(0, 0%, 41%);
$black: hsl(0, 0%, 0%);

/* --- Font --- */

/* ---- breakpoint ---- */
$width-phone: 420px;
$width-pc: 760px;